  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font: 13px Helvetica, Arial;
  }

  form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
  }

  form button {
    width: 9%;
    background: rgb(150, 150, 225);
    border: none;
    padding: 10px;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }

  #messages li {
    padding: 5px 5px;
  }

  #messages li:nth-child(odd) {
    background: #eee;
  }

  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

  .button:hover {
      background-color: #4CAF50; /* Green */
      color: white;
  }

  #footer {
    position: fixed;
    bottom: 0;
    right: 0px;
    left: 0px;
    height: 30px;
  }

  /* The switch - the box around the debugSlider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The debugSlider */
  .debugSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .debugSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .debugSlider {
    background-color: #2196F3;
  }

  input:focus + .debugSlider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .debugSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded debugSliders */
  .debugSlider.round {
    border-radius: 34px;
  }

  .debugSlider.round:before {
    border-radius: 50%;
  }
    /* END : The switch - the box around the debugSlider */
